# Build directories
build/
cmake-build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# Compiled Object files
*.o
*.obj
*.so
*.so.*
*.a
*.lib

# IDE specific files (CLion)
.idea/
*.iml

# OS specific files
.DS_Store
.directory
*~
